<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spam Detector</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <div class="container">
        <h1>Spam Detector</h1>
        <p>Input a text message to detect if is SPAM.</p>
        <form action="/classify" method="post" class="form-group">
            <label for="message">Message:</label>
            <textarea cols="30" rows="6" id="message" name="message" required></textarea>
            <br>
            <input type="submit" value="DETECT">
        </form>
        {% if result %}
            <p class="spam-result {{ result|lower }}">IS: {{ result }}</p>
        {% endif %}
    </div>
</body>
</html>
